<!DOCTYPE html>
<html lang="ro" id="maintop">

<head>
    <title>Contact - Club Sportiv Luza</title>
    <%- include("../fragments/settings.ejs") %>
</head>

<body>
    <%- include("../fragments/header.ejs")

    %>
    <main>
        <div class="container-basic">
        <br>
            <h2 style="text-align: center; margin: auto; display: block;"><i class="fa-solid fa-phone"></i> Contacteaza-ne!</h2><br>
        <address id="contact">
        <hr style="color: #DDDDDD; background-color: #DDDDDD; height: 2px; border: 0; width: 60%;">
        <a href="tel:+40731481188">Telefon: 0731481188</a>
        <a href="https://goo.gl/maps/2hBLNUWaYEJDyn3d7">Click pentru a deschide adresa pe Google Maps!</a>
        <a href="mailto:edialexandru.es@gmail.com">Click pentru a trimite un email!</a>
        <a href="wa.me/40731481188">Click pentru a ne contacta pe WhatsApp!</a>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.88527431005!2d26.09955301522892!3d44.43551550950902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff473869f53f%3A0xee62eda4d786c152!2sUniversitatea%20din%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1653662413501!5m2!1sro!2sro" width="600" height="450" style="border:0; display:block; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </address>
    <br>
        </div>

        <br>
    </main>
    <%- include("../fragments/footer.ejs")

    %>
</body>

</html>