<!DOCTYPE html>
<html lang="ro" id="maintop">

<head>
    <title>Club Sportiv Luza</title>
    <%- include("../fragments/settings.ejs") %>
</head>

<body>
    <%- include("../fragments/header.ejs")

    %>
    <main>
        <div class="container-basic">
            <h1 style="text-align: center;">Eroare 404 - Pagina nu a fost gasita!</h1>
            <a href="../index" class="video-button" style="display: block; margin: auto; width: 200px;">Inapoi la pagina principala</a><br>
        </div>
    </main>
    <%- include("../fragments/footer.ejs")

    %>
</body>

</html>