<footer>
    <a href="#maintop" class="backbutton"><b>Inapoi catre inceputul paginii</b></a>
    <br>
    <h6 style="display: block; margin:auto; text-align:center;" id="data">Ati accesat pagina la data si ora: </h6>
    <small style="text-align: center; margin: auto; display: block;">&#9400;<time datetime="2022-02-20">2022 - Toate
            drepturile rezervate</time></small>
</footer>